/*start general*/
*{
    box-sizing: border-box;
  }
  .red-degree{
    color: $redStage;
    text-decoration: underline;
    transition: .5s;
  }
  body{
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a{
    color: white;
    text-transform: none;
  }
  a:hover{
    text-decoration: none;
    color: #f24a00;
  
  }
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color:rgba(0,0,0,.5);
  }
  .first-p
  {
  font-size: 21px;
  font-weight: 500;
  width: 653px;
  }
  .h1-header{
    font-size: 75px;
    width: 425px;
    margin: auto;
    text-transform: capitalize;
  }
  .clear{
    clear: both;
  }
  /*end   general*/