/*start general*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.red-degree, .our-clients .client-title a:hover {
  color: #f14201;
  text-decoration: underline;
  -webkit-transition: .5s;
  transition: .5s;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-transform: none;
}

a:hover {
  text-decoration: none;
  color: #f24a00;
}

.overlay, .partiner .brand .over, .museum .over, .our-clients .reviews .person .image-cont .over, .our-clients .reviews .person .name .over, .our-clients .reviews .person .over {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.first-p, header .text-container p, .museum header .text-container p {
  font-size: 21px;
  font-weight: 500;
  width: 653px;
}

.h1-header, header .text-container h1, .museum header .text-container h1 {
  font-size: 75px;
  width: 425px;
  margin: auto;
  text-transform: capitalize;
}

.clear {
  clear: both;
}

/*end   general*/
/* start header rules */
.top-header {
  background-color: transparent;
  height: 70px;
  color: #fff;
  z-index: 2;
  position: relative;
  padding-top: 15px;
}

.top-header div {
  width: 33.1%;
  display: inline-block;
  line-height: 70px;
}

.top-header .logo {
  letter-spacing: 2;
  font-size: 23px;
  font-weight: 700;
  padding-left: 50px;
  letter-spacing: 3px;
}

.top-header .bars {
  text-align: right;
  font-size: 20px;
  padding-right: 50px;
}

.top-header .links ul {
  text-align: center;
  padding: 0;
}

.top-header .links ul li, .top-header .links ul a {
  display: inline-block;
  margin: 0 13px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

header {
  background-image: url(../img/background.jpg);
  height: 700px;
  color: white;
  background-size: cover;
  position: relative;
}

header .text-container {
  z-index: 2;
  position: absolute;
  text-align: center;
  left: calc(50% - 325px);
  top: 180px;
}

header .text-container p:nth-child(3) {
  padding: 50px 0;
}

header .text-container a {
  margin-top: 50px;
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 18px;
}

/* end   header rules */
.partiner {
  background-color: #020202;
  cursor: pointer;
}

.partiner .brand {
  width: 19.5%;
  display: inline-block;
  padding: 50px 0;
  text-align: center;
  position: relative;
}

.solution {
  background-color: #242323;
  overflow: hidden;
}

.solution div {
  width: 49.8%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 350px;
}

.solution .sol-title {
  color: white;
}

.solution .sol-title p {
  font-size: 31px;
  width: 500px;
  font-weight: 600;
  font-family: initial;
}

.solution .sol-paragraph {
  color: #ccc;
}

.solution .sol-paragraph p {
  width: 530px;
}

.cards {
  background-color: #242323;
  overflow: hidden;
  padding: 50px;
}

.cards .card {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  margin: 1.5%;
  width: 22%;
}

.cards .card .texts {
  padding: 40px;
  padding-top: 35px;
  height: 100%;
}

.cards .card span, .cards .card h3, .cards .card p, .cards .card i {
  margin: 20px 0;
}

.cards .card span {
  font-weight: 700;
  font-size: 22px;
}

.cards .card i {
  border: 2px solid white;
  background-color: transparent;
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
}

.cards .card p {
  font-weight: 600;
}

.cards .card:hover .texts {
  background-color: #f14201;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.cards .card:hover .texts i {
  color: #f14201;
  background-color: white;
}

.cards .card:nth-child(1) {
  background-image: url(../img/card-image-1.jpg);
  background-size: cover;
}

.cards .card:nth-child(2) {
  background-image: url(../img/card-image-2.jpg);
  background-size: cover;
}

.cards .card:nth-child(3) {
  background-image: url(../img/card-image-3.jpg);
  background-size: cover;
}

.cards .card:nth-child(4) {
  background-image: url(../img/card-image-3.jpg);
  background-size: cover;
}

.our-features {
  text-align: center;
  background-color: #242323;
}

.our-features p {
  color: #ccc;
  font-size: 16px;
  width: 700px;
  margin: auto;
}

.our-features h4 {
  color: white;
  margin: 20px 0;
}

.our-features .team-item {
  width: 22%;
  padding: 15px;
  margin: 1.5% 0;
  display: inline-block;
  margin: 50px 0;
}

.our-features .team-item p {
  width: 100%;
}

.our-features .team-item .fas {
  font-size: 60px;
  margin: 10px;
  display: inline-block;
  color: white;
  color: #f14201;
}

.museum {
  background-color: #242323;
  color: white;
}

.museum .title, .museum ul {
  width: 49%;
  display: inline-block;
  padding: 80px 0;
}

.museum ul {
  text-align: right;
  text-transform: capitalize;
  font-size: 18px;
}

.museum ul li {
  display: inline-block;
  margin: 0 15px;
}

.our-progress {
  background-color: #242323;
  color: white;
}

.our-progress > div {
  display: inline-block;
}

.our-progress .texts {
  padding: 50px;
  width: 80%;
  margin: auto;
}

.our-progress .texts h2 {
  width: 70%;
  font-size: 40px;
}

.our-progress .texts p {
  color: #ccc;
  padding: 30px 0;
}

.our-progress .texts ol {
  margin-top: 50px;
  padding-left: 0;
  margin: auto;
}

.our-progress .texts ol li {
  border-bottom: 2px solid white;
  list-style-position: inside;
  margin-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  font-size: 20px;
}

.our-progress .texts ol li:last-child {
  border-bottom: transparent;
}

.our-progress .texts ol li::after {
  content: '\f078';
  font-family: "FontAwesome";
  position: absolute;
  right: 0;
}

.our-clients {
  background-color: #2c2c2c;
  padding: 100px 0 0 0;
  color: white;
  margin-bottom: 350px;
}

.our-clients .client-title h2 {
  color: white;
  float: left;
}

.our-clients .client-title a {
  color: #ccc;
  float: right;
  margin-top: 10px;
}

.our-clients .evaluation-slider {
  background-color: #242323;
  padding: 30px;
  margin: 50px 0;
}

.our-clients .evaluation-slider h5 {
  float: left;
}

.our-clients .evaluation-slider .fas {
  color: yellowgreen;
  float: left;
  margin-top: 5px;
}

.our-clients .evaluation-slider .fas:nth-child(6) {
  color: green;
}

.our-clients .evaluation-slider p {
  margin-top: 30px 0;
}

.our-clients .reviews {
  height: 118px;
}

.our-clients .reviews .person {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
}

.our-clients .reviews .person .image-cont {
  position: relative;
}

.our-clients .reviews .person .image-cont img {
  display: inline-block;
  height: 58px;
  width: 25%;
  border-radius: 50%;
  width: 100%;
}

.our-clients .reviews .person .image-cont .over {
  overflow: hidden;
  border-radius: 50%;
}

.our-clients .reviews .person .name {
  width: 60%;
  display: inline-block;
  margin-left: 25px;
  position: relative;
}

.our-clients .reviews .person .name .over {
  overflow: hidden;
}

.our-clients .reviews .person .name p {
  margin: 0;
  padding: 0;
  color: #cfc0c0;
}

.our-clients .reviews .person .name p:first-child {
  margin-top: 3px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.our-clients .reviews .person .over {
  color: #2c2c2c;
}

.our-clients .reviews .person:hover .name p, .our-clients .reviews .person:hover .name p a {
  color: white;
}

.our-clients .reviews .person:first-child .name p, .our-clients .reviews .person:first-child .name p a {
  color: white;
}

.our-clients .reviews .person:hover:first-child .name p, .our-clients .reviews .person:hover:first-child .name p a {
  color: white;
}

footer {
  background-color: #242323;
  padding-top: 100px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -20;
}

footer .footer-col {
  width: 21.7%;
  margin: 1.5%;
  display: inline-block;
  text-transform: capitalize;
  padding: 0 90px;
}

footer .footer-col h4 {
  color: white;
}

footer .footer-col ul {
  padding-top: 30px;
}

footer .footer-col ul li {
  color: #ccc;
  padding: 7px 0;
}
/*# sourceMappingURL=style.css.map */