
@import 'var';
@import 'general_classes';
/* start header rules */
.top-header{
  background-color: transparent;
  height: 70px;
  color: #fff;
  z-index: 2;
  position: relative;
  padding-top: 15px;

  div{
    width:$width3parts;
    display: $inlineBlock;
    line-height: 70px;
  }
  .logo{
    letter-spacing: 2;
    font-size: 23px;
    font-weight: 700;
    padding-left: 50px;
    letter-spacing: 3px;
  }
  .bars{
    text-align: right;
    font-size: 20px;
    padding-right: 50px;
  }
  .links{
    ul{
      text-align: center;
      padding: 0;
    li,a{
      display: $inlineBlock;
      margin: 0 13px;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  }

}
header{
background-image: url(../img/background.jpg);
height: 700px;
color: $mainColor;
background-size: cover;
position: relative;
        .text-container{
          z-index: 2;
          position: absolute;
    text-align: center;
    left: calc(50% - 325px);
    top: 180px;
    p{
@extend .first-p;

    }
    p:nth-child(3)
    {
      padding: 50px 0;
    }
    h1{
      @extend .h1-header;
    }
    a{
      margin-top: 50px;
      text-decoration: underline;
      text-transform: capitalize;
      font-size: 18px;
        }
      }

}
/* end   header rules */

// start partiner section
.partiner{
  background-color:#020202;
  cursor: pointer;
 .brand{
  width: $width5parts;
  display: inline-block;padding: 50px 0;
  text-align: center;
  position: relative;
  .over{
      @extend .overlay;
  }
}

}

// end partiner section

// start solution section
.solution{
  background-color: #242323;
  overflow: hidden;
  div{
    width: 49.8%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
  }
  .sol-title
  {
    color: $mainColor;
      p{
        font-size: 31px;
        width: 500px;
        font-weight: 600;
        font-family: initial;
      }
  }
  .sol-paragraph{
    color: $darkColor;
    p{
      width: 530px;

    }
  }
}

// end   solution section

// start cards section
.cards{
  background-color: $bgcolor;
  overflow: hidden;
  padding: 50px;
    .card{
    color:$mainColor;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 1.5%;
    width: $width4parts;
    .texts{
      padding: 40px;
      padding-top: 35px;
      height: 100%;
    }
    span,h3,p,i{
      margin: 20px 0;
    }
    span{
      font-weight: 700;
      font-size: 22px;

    }
    i{
      border: 2px solid $mainColor;
      background-color: transparent;
      border: 2px solid #fff;
      width: 40px;
      height: 40px;
      line-height: 36px;
      text-align: center;
      border-radius: 50%;
      
    }
    p{
      font-weight: 600;

    }
  }
  .card:hover .texts{
    background-color: $redStage;
    transition: .5s;
    cursor: pointer;
  }
  .card:hover .texts i{
    color: $redStage;
    background-color: white;
  }
  .card:nth-child(1){
    background-image: url(../img/card-image-1.jpg);
    background-size: cover;
  }
  .card:nth-child(2){
    background-image: url(../img/card-image-2.jpg);
    background-size: cover;
  }
  .card:nth-child(3){
    background-image: url(../img/card-image-3.jpg);
    background-size: cover;
  }
  .card:nth-child(4){
    background-image: url(../img/card-image-3.jpg);
    background-size: cover;
  }
}
// end   cards section
// start our-features rules 
.our-features{
  text-align: center;
  background-color: $bgcolor;
  p{
    color: $darkColor;
    font: {
      size: 16px;
    }
    width: 700px;
    margin: auto;

  }
  h4{
    color: $mainColor;
    margin: 20px 0;
  }
  .team-item{
    width: $width4parts;
    padding: 15px;
    margin: 1.5% 0;
    display: inline-block;
    margin: 50px 0;
    p{
      width: 100%;
    }
    .fas{
      font-size: 60px;
      margin: 10px;
      display: inline-block;
      color: $mainColor;
      color: $redStage;
    }
  }
}
// end   our-features rules 
// start museum section
.museum{
  background-color: $bgcolor;
  color: $mainColor;
  .over{
    @extend .overlay;
  }
  .title,ul{
    width: 49%;
    display: inline-block;
    padding: 80px 0;
  }
  ul{
    text-align: right;
    text-transform: capitalize;
    font-size: 18px;
    li{
      display: inline-block;
      margin: 0 15px;
    }
  }
  header{
    .text-container{
     p{
       @extend .first-p;
     }
     h1{
      @extend .h1-header;
    }
     }
    }
}
// end   museum section
// start our features section
.our-progress{
  background-color: $bgcolor;
  color: $mainColor;
  > div{
    display: inline-block;
    
  }
  .texts{
    padding: 50px;
    width: 80%;
    margin: auto;
    h2{
      width: 70%;
      font-size: 40px;
    }
    p{
      color: $darkColor;
      padding: 30px 0;
    }
    ol{
      margin-top: 50px;
      padding-left: 0;
      margin: auto;
      li{
        border-bottom: 2px solid $mainColor;
        list-style-position: inside;
        margin-top: 10px;
        padding-bottom: 10px;
        text-transform: uppercase;
        position: relative;
        font: {
          weight:700;
          size: 20px;
        }
      }
      li:last-child
      {
        border-bottom: transparent;
      }
      li::after{
        content: '\f078';
        font-family: "FontAwesome";
        position: absolute;
        right: 0;

      }
    }
  }
  .ved{
    
  }
}
// end   our features section

// start our-clients reules
.our-clients{
  background-color: #2c2c2c;
  padding: 100px 0 0 0;
  color: $mainColor;
  .client-title{
  h2{
    color: $mainColor;
    float: left;
  }
  a{
    color: $darkColor;
    float: right;
    margin-top: 10px;
  }
  a:hover{
    @extend .red-degree;
    
  }
}
.evaluation-slider{
  background-color: $bgcolor;
  padding: 30px;
  margin: 50px 0;
  h5{
    float: left;
  }
  .fas{
    color: yellowgreen;
    float: left;
   margin-top: 5px;

  }
  .fas:nth-child(6){
    color: green;
  }
  p{
    margin-top: 30px 0;

  }
}
.reviews{
  height: 118px;

  .person{
    width: 33.3%;
    display: flex;
    float: left;
    justify-content: center;
    cursor: pointer;
    position: relative;
    .image-cont{
      position: relative;
      img{
        display: inline-block;
        height: 58px;
        width: 25%;
        border-radius: 50%;
        width: 100%;
      }
      .over{
        @extend .overlay;
        overflow: hidden;
        border-radius: 50%;
      }
    }
    .name{
      width: 60%;
      display: inline-block;
      margin-left: 25px;
      position: relative;
     
      .over{
        @extend .overlay;
        overflow: hidden;
      }
      p{
        margin: 0;
        padding: 0;
        color: #cfc0c0;
      }
      p:first-child{
        margin-top: 3px;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        
      }
      p:last-child{
      }
    }
    .over{
@extend .overlay;
color: rgb(44, 44, 44);
    }
}
.person:hover .name p,.person:hover .name p a
{
  color: $mainColor;

}
.person:first-child .name p,.person:first-child .name p a{
  color: $mainColor;
}

.person:hover:first-child .name p,.person:hover:first-child .name p a{
  color: $mainColor;
}
}
margin-bottom: 350px;
}
// end   our-clients reules

// start footer rules
footer{
  background-color: $bgcolor;
  padding-top: 100px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -20;
  .footer-col{
    width: 21.7%;
    margin: 1.5%;
    display: inline-block;
    text-transform: capitalize;
    padding: 0 90px;
    h4{
      color: $mainColor;
    }
    ul{
      padding-top: 30px;
      li{
        color: $darkColor;
        padding: 7px 0;
      }
    }
  }
}
// end   footer rules


